<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="wrap">
    <div class="header">
       <ul class="header-nav">
        <li class="nav"><%= link_to '/' do %>研究について<span>About</span><% end %></li>
        <li><%= link_to '/' do %>仏具の紹介<span>Products</span><% end %></li>
        <p><img src="/buddha.png" class="logo"></p>
        <li class="nav"><%= link_to '/' do %>研究活動<span>Activities</span><% end %></li>
        <li><%= link_to '/' do %>暮らし<span>Daily life</span><% end %></li>
      </ul>
    </div>
    <div class="container">
      <img src="/flower_image.jpg" class="img">
    </div>
    <div class="footer">
      Rails Girls 2018
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
